body{
    height: 100vh;
    color: white;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 10%;
    margin-left: 10%;
}

.text{
    border-bottom: 20px;
}

.crushback h2{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-button{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-button button{
    padding: 10px 10px;
    cursor: pointer;
}

.yes{
    background-color: rgb(61, 219, 61);
}

.no{
    background-color: rgb(248, 91, 91);
}

@media screen and (max-width: 600px) {
    .text h1{
        font-size: 20px;
    }
}

